*{
    margin: 0;
    padding: 0;
    font-family: serif;
    box-sizing: border-box;
}
body {
  background-color: rgba(115, 232, 99, 0.59);
  color: white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}
h1{
    text-align: center;
    margin: 40px 0 ;
    font-size: 40px;
}
input {
    border-radius: 10px;
    height: 40px;
    width: 250px;
    padding: 20px;
    }
label {
    font-size: 20px;
    margin: 20px;
}
.container{
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(26, 82, 16, 0.59);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}
.input-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input-form label {
    margin-bottom: 10px;
    margin-top: 20px;
}

.inputBox{
    color: black;
    height: 20px;

}

.telecom-container{
    border: solid 2px blue;
    width: 50px;
    height:50px;
}

.telecom{
    height: 100%;
    font-size: x-large;
    color: blue;
    display: none;
    background-image: url(./logo/mtn.png);
    background-size: 50px;
}

button {
      
    height: 3em;
    width: 8em;
    border: none;
    border-radius: 10em;
    background: #0c1a27;
    font-size: 17px;
    color: #ffffff;
    font-family: inherit;
    font-weight: 500;
   }
   
   button:hover {
    animation: shake3856 0.3s linear infinite both;
   }
   
   @keyframes shake3856 {
    0% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   
    20% {
     -webkit-transform: translate(-2px, 2px);
     transform: translate(-2px, 2px);
    }
   
    40% {
     -webkit-transform: translate(-2px, -2px);
     transform: translate(-2px, -2px);
    }
   
    60% {
     -webkit-transform: translate(2px, 2px);
     transform: translate(2px, 2px);
    }
   
    80% {
     -webkit-transform: translate(2px, -2px);
     transform: translate(2px, -2px);
    }
   
    100% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   
   
        }

@media only screen and (min-width: 768px) {
  body{
    background-color: rgba(115, 232, 99, 0.59);
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    margin: 40px 0 ;
    font-size: 40px;
}
.container{
    width: 350px;
    height: 600px;
    background-color: rgba(26, 82, 16, 0.59);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}
}
